{% extends 'base.html' %}
{% block content %}
<h2 style="text-align: center; color: #2e7d32;">Наши растения</h2>

<div class="plant-container">
    {% for plant in plants %}
    <div class="plant-card">
        <img src="{{ plant.image.url }}" alt="{{ plant.title }}">
        <div class="plant-info">
            <h3> <a href="{{plant.get_absolute_url}}"><h3>{{ plant.title }}</a></h3>
            <p class="created">{{ plant.created_at }}</p>
            <p class="excerpt">
            {{ plant.description|truncatechars:100 }}
            <a href="{{plant.get_absolute_url}}" class="read-more-inline">Читать далее</a>
            </p>
            <p class="category">Категория: {{ plant.category.title }}</p>
        </div>
    </div>
    {% empty %}
    <p>Нет доступных постов.</p>
    {% endfor %}
</div>
<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">← Назад</a>
  {% endif %}
  <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next page">Вперёд →</a>
  {% endif %}
</div>
{% endblock %}
